.page-about {
  .page {
    max-width: 60rem;
  }

  .content article a:where(.external-link):not(:has(img)):after {
    font-size: 0.6em;
  }

}

.highlight {
  code {
    padding: 0 0 0 0;
  }

  .chroma {
    .hl {
      display: block;
    }
    margin: 1rem 0 1rem;
    padding: 0;
  }
}
