<h1>{{ .Site.Params.author }}</h1>
<h2><span style="visibility: hidden">_</span><span is="type-async" id="type-text">Coder.</span>
  <span id="cursor" class="blinking-cursor" style="visibility: hidden">_</span>
</h2>
<style>
  .avatar img {
    border: 1.5px solid black;
  }

  .blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
  }

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
</style>

<script lang="js">
  async function init() {
    const node = document.querySelector("#type-text");
    const cursorEl = document.querySelector("#cursor");

    const phrases = [
      { text: 'Professional Software Engineer.', sleep: 2500 },
      { text: 'Coder. For fun and profit. 😊', sleep: 2000 }
    ]

    const type = new TypeAsync(node);

    for (const phrase of phrases) {
      await sleep(phrase.sleep)
      cursorEl.style.visibility = "visible"
      await sleep(1500)
      await type.delete(node.innerText)
      await sleep(1000)
      await type.type(phrase.text)
      cursorEl.style.visibility = "hidden"
    }
  }
  const sleep = time => new Promise(resolve => setTimeout(resolve, time))
  class TypeAsync {
    constructor(element) {
      this.element = element;
    }

    get typeInterval() {
      const randomMs = Math.random() * 150 + 50;
      return randomMs;
    }

    deleteInterval(length) {
      const randomMs = Math.random() * 70 + 20;
      return randomMs;
    }

    async sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async type(text) {
      for (let character of text) {
        this.element.innerText += character;
        await this.sleep(this.typeInterval);
      }
    }

    async delete(text) {
      for (let i = text.length - 1; i >= 0; i--) {
        this.element.innerText = this.element.innerText.slice(0, i);
        await this.sleep(this.deleteInterval(text.length));
      }
    }
  }
  init();
</script>
